<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61419119282-1g7mbbaug74ttq6kaaiqep7767a7op76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61419119282-1g7mbbaug74ttq6kaaiqep7767a7op76</string>
	<key>API_KEY</key>
	<string>AIzaSyDUppM02qG_gFEDKdFGl2EIcoRYc1mSSxU</string>
	<key>GCM_SENDER_ID</key>
	<string>61419119282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fr</string>
	<key>PROJECT_ID</key>
	<string>fullfirebasebackend</string>
	<key>STORAGE_BUCKET</key>
	<string>fullfirebasebackend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61419119282:ios:1c4994560fe1136cd6dfab</string>
	<key>DATABASE_URL</key>
	<string>https://fullfirebasebackend.firebaseio.com</string>
</dict>
</plist>